<div class="container">

  <div id="header">
    <h1> Your Profile </h1>
  </div>

  <div id="section" align="center" >

    <div class="container" id="change-password">
      <form name="changePasswordForm" ng-submit="changePassword()">
        <fieldset>
          <h2> Change your password! </h2>
          <div class="form-group">
            <label>
              current password:
              <input type="password" ng-model="currentPassword" required class="form-control">
            </label>
            <label>
              new password:
              <input type="password" ng-model="newPassword" required class="form-control">
            </label>
            <label>
              repeat new password:
              <input type="password" ng-model="repeatNewPassword" required class="form-control">
            </label>
          </div>
          <input type="submit" value="Submit" class="btn btn-success">
        </fieldset>
      </form>
    </div>
  </div>

</div>