<div class="container">

  <div id="header">

  </div>

  <div id="section" align="center" >
    <h1> Enter your email and we send you a new temporary password! </h1>
    <form name="resetPasswordForm" ng-submit="forgotPassword()">
      <fieldset>
        <div class="form-group">
          <label>
            email:
            <input type="text" ng-model="email" required class="form-control">
          </label>
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
      </fieldset>
    </form>

  </div>

</div>