<div class="container">

  <div id="header">

  </div>

  <div id="section" align="center" >
    <a href="#/register-speaker"> Sign up as speaker </a>
    <a href="#/register-attendee"> Sign up as attendee </a>
  </div>

</div>