<div class="container">

  <div id="header">

  </div>

  <div id="section" align="center" >
    <a href="#/login-speaker"> Login as speaker </a>
    <a href="#/login-attendee"> Login as attendee </a>
  </div>

</div>