<!DOCTYPE html>
<html ng-app="tenPinesConfApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <title>TenPinesConf</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body class="ten-pines-conf">

    <div class="container-fluid">
      <div class="col-md-6" >
        <div class="collapse navbar-collapse">
          <a  href="#/landing"><img src="<%= image_url 'logo.png' %>" align="left"></a>
          <ul class="nav navbar-nav navbar-left">
            <li class="scroll" ng-hide="logged_in"><a href="#/login">Login</a></li>
            <li class="scroll" ng-hide="logged_in"><a href="#/register">Sign Up</a></li>
            <li class="scroll" ng-show="logged_in"><a href="#/logout">Log out</a></li>
            <li class="scroll"><a ng-show="logged_in"> User: {{user_email}} </a></li>
           </ul>

      </div>
      </div>

      <div class="col-md-6">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll"><a href="#/landing">Home</a></li>
            <li class="scroll"><a href="#/talk-list">Talks</a></li>
            <li class="scroll"><a ng-show="logged_in_as_speaker" href="#/talk-proposal">Propose a talk</a></li>
            <li class="scroll"><a ng-show="logged_in_as_speaker" href="#/my-talks"> My Talks </a></li>
            <li class="scroll"><a ng-show="logged_in_as_attendee" href="#/payment">Buy ticket </a></li>
            <li class="scroll"><a ng-show="logged_in_as_speaker" href="#/speaker-user-profile"> Profile </a></li>
            <li class="scroll"><a ng-show="logged_in_as_attendee" href="#/attendee-user-profile"> Profile </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="view-container">
      <div ng-view class="view-transition"></div>
    </div>
</body>
</html>