<!DOCTYPE html>
<html ng-app="tenPinesConfApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TenPinesConf</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body class="ten-pines-conf">

    <div class="container-fluid">
      <div class="col-md-6">
        <a ng-show="loggedUser"> User: {{loggedUser}} </a>
        <a ng-show="loggedUser" href="#/logout">Log out</a>
        <a ng-hide="loggedUser" href="#/login">Login</a>
        <a ng-hide="loggedUser" href="#/register"> Sign Up</a>
        <img src="<%= image_url 'logo.png' %>" align="left">
      </div>
      <div class="col-md-6">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll"><a href="#/landing">Home</a></li>
            <li class="scroll"><a ng-hide="loggedUser" href="#/login" >Propose a talk</a></li>
            <li class="scroll"><a ng-show="loggedUser" href="#/talk-proposal" >Propose a talk</a></li>
            <li class="scroll"><a href="#/talk-list">Talks</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="view-container">
      <div ng-view class="view-transition"></div>
    </div>
</body>
</html>