<div class="container home" id="bg">
  <img src="<%= image_url 'background.jpg' %>">
  <div id="header">
    <h1>TenPinesConf</h1>
  </div>

  <div id="section" >
    <a href="#/talk-proposal">Propose a talk!</a><br>
    <a href="#/talk-list">View all proposed talks.</a>
  </div>

</div>