<div class="container home" id="bg" style="background-image: url(<%= image_url 'background.jpg' %>); background-size:cover">

  <div id="header">

  </div>

  <div id="section" align="center" >
    <div style="background-color: transparent">
        <p>

        </p>
    </div>
  </div>

</div>