<div class="container home" id="bg">
  <img src="<%= image_url 'background.jpg' %>">
  <div id="header">

  </div>

  <div id="section" align="center" >
    <div style="background-color: transparent">
        <p>
                Welcome!
            Assist to the conference!
        </p>
      <!--&lt;!&ndash; modal buy_ticket &ndash;&gt;-->
      <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"> Buy ticket </button>-->

      <!--<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-sm">-->
          <!--<div class="modal-content">-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <a href="#/register_attendee"> buy your ticket! </a>
    </div>
  </div>

</div>