<div id="section" class="container" style="text-align: center" >
  <form name="loginForm" ng-submit="login()">
    <fieldset>
      <h2>Login as attendee:</h2>
      <div class="form-group">
        <label>
          email:
          <input type="text" ng-model="email" required class="form-control">
        </label>
        <label>
          password:
          <input type="password" ng-model="password" required class="form-control">
        </label>
      </div>
      <input type="submit" value="Submit" class="btn btn-default">
    </fieldset>
  </form>
</div>