<div id="section" class="container" style="text-align: center" >
  <form name="loginForm" ng-submit="login()">
    <fieldset>
      <h2>Person:</h2>
      <div class="form-group">
        <label>
          mail:
          <input type="text" ng-model="email" required class="form-control">
        </label>
        <label>
          pass:
          <input type="text" ng-model="password" required class="form-control">
        </label>
      </div>
      <input type="submit" value="Submit" class="btn btn-default">
        </fieldset>
      </form>
    </div>