<div class="col-md-6">
  <div id="header">
    <h1>Proposed talks:</h1>
  </div>
  <div id="table table-responsive" >
    <table class="table table-striped table-bordered">
      <tr>
        <td>
          Filter tracks:
          <div class="form-group " style="width: 20%">
            <select ng-model="filterTrack" ng-options="eachTrack for eachTrack in tracks" class="form-control">
              <option value> </option>
            </select>
          </div>
        </td>
      </tr>
      <tr ng-repeat="eachTalk in talks | filter:{track: filterTrack || undefined}" class="list-change">
        <td>
          <h2>{{eachTalk.title}}<br>
            <small>{{eachTalk.track}} - {{eachTalk.duration}}</small>
          </h2>
          <p>{{eachTalk.description}}</p>
          by: {{eachTalk.speaker.name}} <a href ng-click="toggleBio(eachTalk)">+</a>
          <div id="bio" ng-if="eachTalk.toggle">
            {{eachTalk.speaker.bio}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>