<div class="container">

  <div id="header">
    <h1 align="center"> Your Profile </h1>
  </div>

  <div id="section" align="center" >

    <div class="container" align="left" id="user-data">
        <h3> User information </h3>
        <a style="text-align: left"> User: {{ user_email }} </a>

    </div>

    <div class="container" align="left" ng-show="logged_in_as_speaker" id="change-password">
      <h3> Edit your personal information </h3>
      <p> If forgot your password, don't forget to change it: <a href="/#speaker-change-password"> Change your password! </a></p>
    </div>

    <div class="container" align="left" ng-show="logged_in_as_attendee" id="change-password">
      <h3> Edit your personal information </h3>
      <p> If forgot your password, don't forget to change it: <a href="/#attendee-change-password"> Change your password! </a></p>
    </div>
  </div>

</div>