<div class="container">

  <div id="header">
    <h1> Your Profile </h1>
  </div>

  <div id="section" align="center" >

    <div class="container" id="user-data">
        <a>User: {{ user_email }}</a>

    </div>

    <div class="container" id="change-password">
      <h2> If forgot your password, don't forget to change it: </h2>
      <a href="/#change-password"> Change your password! </a>
    </div>
  </div>

</div>