<!DOCTYPE html>
<html ng-app="tenPinesConfApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>TenPinesConf</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="../javascripts/controllers/talkProposalCtrl.js"></script>
</head>
<body ng-view>
</body>
</html>