<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @attendee.name %></h1>
<p>
  Muchas gracias por comprar tu entrada a la conferencia.
</p>
<p>10PinesConf</p>
</body>
</html>