<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Nueva charla propuesta: <%= @talk.title %></h1>
<p>
  <%= @person.name %> propuso una nueva charla.
</p>
<p>10PinesConf</p>
</body>
</html>