<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @speaker.name %></h1>
<p>
  Gracias por proponer la charla: "<%= @talk.title%>".<br>
  En caso de resultar seleccionada, nos contactaremos con usted.
</p>
<p>10PinesConf</p>
</body>
</html>